body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv {
    position: relative;
    width: 900px;
    /* böyüdü */
    height: 480px;
    /* böyüdü */
}

.tvFrame {
    background-color: burlywood;
    height: 480px;
    width: 900px;
    border-radius: 3%;
    position: absolute;
    z-index: 0;
    background-image: url("wood5\.jpg");
}

.screen {
    margin-top: 30px;
    margin-left: 30px;
    background-color: darksalmon;
    height: 420px;
    /* 350 → 420 (+20%) */
    width: 600px;
    /* 500 → 600 (+20%) */
    z-index: 1;
    position: absolute;
    border-radius: 3%;
}

.side {
    height: 420px;
    width: 240px;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    margin-left: 650px;
    border-radius: 3%;
    background-image: url("wood6.jpg");
}

button {
    background-color: darkgreen;
    width: 70px;
    height: 70px;
    z-index: 2;
    position: absolute;
    border-radius: 100%;
    margin-top: 330px;
    margin-left: 730px;
}

.tvSpeaker {
    width: 180px;
    height: 230px;
    position: absolute;
    z-index: 2;
    margin-top: 60px;
    margin-left: 680px;
    background-color: black;
    background-image:
        linear-gradient(45deg, #252525 25%, transparent 25%),
        linear-gradient(-45deg, #462f2f 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #252525 75%),
        linear-gradient(-45deg, transparent 75%, #462f2f 75%);
    background-size: 4px 4px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    border-radius: 13%;
}